/* *: gọi toàn bộ các thẻ html */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 14px;
    background-color: #FAF4F3;
}

/* HEADER */
.header {
    background-color: #F3E1DB;
    padding: 10px 70px;
    /* padding-top: 10px;
    padding-left: 70px; */
    /* padding: top right bottom left; */
    /* padding: top right-left bottom; */
    /* padding: top-bottom left-right; */
    /* padding: 1 tham so  => cach deu 4 huong*/
}

/* selector chỉ nên tối đa 5 cấp */
.header ul {
    /* bỏ dấu chấm của list */
    list-style: none;
}

.header a {
    /* bỏ dấu gạch chân của thẻ a */
    text-decoration: none;
    color: black;
}

.header li {
    display: inline;
    margin-right: 10px;
}

.header .active {
    color: #D26E52;
}
/* END HEADER */

/* CAROUSEL */
.carousel {
    background-image: url(../img/BG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    border-radius: 0 0 200px 200px;
    position: relative;
}

/* Float */
.carousel .carousel__item {
    float: left;
    width: 25%;
    padding: 10px;
}

.carousel .carousel__detail {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}

.carousel .carousel__detail img {
    width: 60px;
    height: 60px;
}

.carousel .carousel__content {
    position: absolute;
    bottom: -80px;
}
/* END CAROUSEL */

/* ACTIVITIES */
.activities {
    margin-top: 110px;
}

.activities .activities__title {
    text-align: center;
    color: #8d8d8d;
    margin-bottom: 20px;
}

.activities .activities__title img {
    width: 70px;
}

.activities .activities__item {
    float: left;
    width: 25%;
    padding: 15px;
    font-size: 12px;
    text-align: center;
}

.activities .activities__card {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
}

.activities .activities__item img {
    width: 100%;
    border-radius: 10px;
}

.activities .activities__img {
    position: relative;
}

.activities .activities__love {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.541);
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 8px;
    /* opacity: 0.4; */
}

.activities .activities__love i {
    color: #D26E52;
}

.activities .activities__detail button {
    padding: 5px 20px;
    border-radius: 15px;
    border: none;
    margin-top: 10px;
}

.activities .activities__detail button:hover {
    background-color: #D26E52;
}


/* END ACTIVITIES */
